:host {
  --rating-bar-font-family:var(--global-font-family);
  --rating-bar-label-color:var(--primary-text);
  --rating-bar-font-weight: var(--font-weight-semi-bold);  
  --rating-bar-linear-rating-info-font-size: 1.6rem;
  --rating-bar-donut-rating-info-font-size: 1.4rem;
  --rating-bar-linear-padding: var(--spacing-03);
  --rating-bar-background-color: var(--separator-01);
  --rating-bar-bad: var(--error);
  --rating-bar-poor: var(--rating-poor);
  --rating-bar-average: var(--warning);
  --rating-bar-great: var(--rating-great);
  --rating-bar-excellent: var(--primary);
}

$rating-bar-linear-width: 100%;
$rating-bar-donut-width: 40px;
$rating-bar-linear-track-width: 100%;
$rating-bar-linear-border-radius: 25px;
$rating-bar-linear-track-height: 8px;